h2 {
  margin-bottom: 30px;
  margin-top: 30px; }

main header .navbar-default {
  background-color: #2f1656;
  border-radius: 0;
  margin-bottom: 0; }
  main header .navbar-default .collapse ul li a {
    color: #fff; }

main #slider #slider-inicial .carousel-inner .item img {
  max-height: 424px; }

main section#que-fazemos article div {
  min-height: 160px; }
  main section#que-fazemos article div i {
    font-size: 3.2em;
    padding: 10px 0; }

main section#portfolio .portfolioFilter {
  margin: 20px 0; }
  main section#portfolio .portfolioFilter a {
    margin-right: 10px;
    color: #666;
    text-decoration: none;
    padding: 10px 0 10px 10px; }
    main section#portfolio .portfolioFilter a .current {
      font-weight: bold; }
  main section#portfolio .portfolioFilter span {
    width: 1px;
    height: 10px;
    top: 5%;
    margin: 0 5px;
    display: inline-block;
    background: #ccc; }

main section#portfolio img {
  margin: 5px; }

main section#portfolio .isotope-item {
  z-index: 2; }

main section#portfolio .isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

main section#portfolio .isotope,
main section#portfolio .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s; }

main section#portfolio .isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width; }

main section#portfolio .isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

main section#nosso-time article div img {
  max-width: 180px;
  border-radius: 50%; }
